In [3]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
# from api_keys import g_key

In [11]:
#  Store Part I results into DataFrame
# Load the csv exported in Part I to a DataFrame

weather_df = pd.read_csv("../WeatherPy/weatherdata")
weather_df.head()

,Unnamed: 0,City,Latitude,Temp,Cloudiness,Humidity,Wind Speed,Date
0,0,salalah,17.0151,304.18,73,64,5.18,1655276226
1,1,makakilo city,21.3469,298.33,20,64,5.14,1655275973
2,2,thompson,55.7435,288.24,100,100,3.09,1655276227
3,3,tibiri,13.5627,298.34,0,78,0.00,1655276227
4,4,ribeira grande,38.5167,291.37,75,100,4.63,1655275984

In [ ]:
# Create new DataFrame fitting weather criteria
# Narrow down the cities to fit weather conditions.Drop any rows will null values.