In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import requests
import json

# Import API key
from config import gkey

In [2]:
#  Store Part I results into DataFrame
# Load the csv exported in Part I to a DataFrame

weather_df = pd.read_csv("../WeatherPy/weatherdata")
weather_df.head()

,Unnamed: 0,City,Lat,Long,Temp,Cloudiness,Humidity,Wind Speed,Date
0,0,barrow,71.2906,-156.7887,276.16,0,81,3.60,1655355750
1,1,new norfolk,-42.7826,147.0587,284.87,41,70,0.43,1655355751
2,2,kodiak,57.7900,-152.4072,283.24,12,83,1.81,1655355751
3,3,rikitea,-23.1203,-134.9692,295.91,85,66,4.16,1655355753
4,4,yellowknife,62.4560,-114.3525,288.46,100,82,4.47,1655355754

In [3]:
# Create new DataFrame fitting weather criteria
# Narrow down the cities to fit weather conditions.   Drop any rows will null values.

weather_df.dropna()

,Unnamed: 0,City,Lat,Long,Temp,Cloudiness,Humidity,Wind Speed,Date
0,0,barrow,71.2906,-156.7887,276.16,0,81,3.60,1655355750
1,1,new norfolk,-42.7826,147.0587,284.87,41,70,0.43,1655355751
2,2,kodiak,57.7900,-152.4072,283.24,12,83,1.81,1655355751
3,3,rikitea,-23.1203,-134.9692,295.91,85,66,4.16,1655355753
4,4,yellowknife,62.4560,-114.3525,288.46,100,82,4.47,1655355754
...,...,...,...,...,...,...,...,...,...
581,581,zalesovo,53.9939,84.7431,291.04,97,78,3.66,1655356079
582,582,port hedland,-20.3167,118.5667,303.18,37,20,6.17,1655356079
583,583,gomel,52.4345,30.9754,285.14,0,82,4.00,1655356080
584,584,bandar-e lengeh,26.5579,54.8807,307.11,9,47,3.78,1655356081
585,585,wanning,18.8003,110.3967,304.17,96,72,6.83,1655356081

In [4]:
# Narrow down the DataFrame to find your ideal weather condition. 
# Temperature in klevin by mistake
# ideal_temp  = weather_df.loc[(weather_df["Temp"] < 300) & (weather_df["Temp"] > 285)]
# ideal_wind  =weather_df[weather_df["Wind Speed"] < 10]
# ideal_cloud = weather_df[weather_df["Cloudiness"] < 10]

ideal = weather_df.loc[(weather_df["Temp"] < 300) & (weather_df["Temp"] > 285) & (weather_df["Wind Speed"] < 10) & (weather_df["Cloudiness"] < 7)]
ideal

# low cloudiness.

ideal.dropna()

,Unnamed: 0,City,Lat,Long,Temp,Cloudiness,Humidity,Wind Speed,Date
8,8,cidreira,-30.1811,-50.2056,287.33,3,86,2.02,1655355756
27,27,laguna,38.4210,-121.4238,297.21,0,42,4.12,1655355770
28,28,kitwe,-12.7961,28.2477,285.64,5,65,1.30,1655355771
29,29,steamboat springs,40.4850,-106.8317,287.87,0,42,2.06,1655355771
36,36,sakaraha,-22.9000,44.5333,291.26,4,57,2.09,1655355775
...,...,...,...,...,...,...,...,...,...
536,536,green river,41.5286,-109.4662,288.14,0,35,0.45,1655356054
565,565,azad shahr,34.7909,48.5707,294.25,0,22,2.15,1655356068
566,566,west plains,36.7281,-91.8524,299.61,0,82,3.09,1655356069
571,571,magole,-6.3667,37.3667,293.32,6,82,0.88,1655356072
583,583,gomel,52.4345,30.9754,285.14,0,82,4.00,1655356080

In [5]:
# Note: Feel free to adjust to your specifications but be sure to limit the number of rows returned 
# by your API requests to a reasonable number.
# Using Google Places API to find the first hotel for each city located within 5000 meters of your coordinates.
# Plot the hotels on top of the humidity heatmap with each pin containing the Hotel Name, City, and Country.

In [6]:
# Hotel Map
# Store into variable named hotel_df.
# Add a "Hotel Name" column to the DataFrame.

In [7]:
# Store latitude and longitude in locations
locations = ideal[["Lat", "Long"]].astype(float) 

# Fill NaN values and convert to float
humid = ideal["Humidity"].astype(float) 
# Humidity as the weight
import gmaps
import pandas as pd

# Google developer API key
from config import gkey

# Configure gmaps
gmaps.configure(api_key=gkey)

In [8]:
# Plot Heatmap
fig = gmaps.figure()

# Create heat layer
heat_layer = gmaps.heatmap_layer(locations, weights= humid, 
                                 dissipating=False, max_intensity=max(weather_df["Humidity"]),
                                 point_radius = 2)


# Add layer
fig.add_layer(heat_layer)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:

# Using Google Places API to find the first hotel for each city located within 5000 meters of your coordinates.
# Plot the hotels on top of the humidity heatmap with each pin containing the Hotel Name, City, and Country.
import json
# Google Places APi Search Set Up
#geocoordinates
target_coordinates = "37.8136, 144.9631"
target_search = "Hotel"
target_radius = 5000
target_type = "hotel"

# set up a parameters dictionary
params = {
    "location": target_coordinates,
    "keyword": target_search,
    "radius": target_radius,
    "type": target_type,
    "key": gkey
}

# base url
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

# run a request using our params dictionary
response = requests.get(base_url, params=params)

In [10]:
# Create new DataFrame fitting weather criteria
# Store into variable named hotel_df.
# Add a "Hotel Name" column to the DataFrame.
# Set parameters to search for hotels with 5000 meters.
# Hit the Google Places API for each city's coordinates.
# Store the first Hotel result into the DataFrame.  Plot markers on top of the heatmap.

hotel_df =ideal.copy()
hotel_df.head()
hotel_df['Unnamed: 0'].drop
hotel_df.head()

,Unnamed: 0,City,Lat,Long,Temp,Cloudiness,Humidity,Wind Speed,Date
8,8,cidreira,-30.1811,-50.2056,287.33,3,86,2.02,1655355756
27,27,laguna,38.4210,-121.4238,297.21,0,42,4.12,1655355770
28,28,kitwe,-12.7961,28.2477,285.64,5,65,1.30,1655355771
29,29,steamboat springs,40.4850,-106.8317,287.87,0,42,2.06,1655355771
36,36,sakaraha,-22.9000,44.5333,291.26,4,57,2.09,1655355775

In [29]:
# make a list for hotel names
hotels = []
for index, row in hotel_df.iterrows():
     
     target_coordinates = str(row["Lat"])+' , '+ str(row["Long"])
     target_radius = 5000
     target_type = 'lodging'
     params = {
     "location": target_coordinates,
     "keyword": target_search,
     "radius": target_radius,
     "type": target_type,
     "key": gkey}
     # params["location"] = f"{lat},{lng}"
     base_url ="https://maps.googleapis.com/maps/api/place/nearbysearch/json"
#try for checking if the city turns up
     try: 
      response = requests.get(base_url, params=params)
      hotel_data =response.json()
      hotels.append(hotel_data['results'][0]['name'])
     except IndexError:
      hotels.append(np.nan)
# append dataframe with hotel names
hotel_df['Hotel Name'] = hotels
hotel_df

,Unnamed: 0,City,Lat,Long,Temp,Cloudiness,Humidity,Wind Speed,Date,Hotel Name
8,8,cidreira,-30.1811,-50.2056,287.33,3,86,2.02,1655355756,Pousada Lessa
27,27,laguna,38.4210,-121.4238,297.21,0,42,4.12,1655355770,Hampton Inn & Suites Sacramento-Elk Grove Lagu...
28,28,kitwe,-12.7961,28.2477,285.64,5,65,1.30,1655355771,Garden Court Kitwe
29,29,steamboat springs,40.4850,-106.8317,287.87,0,42,2.06,1655355771,Sheraton Steamboat Resort Villas
36,36,sakaraha,-22.9000,44.5333,291.26,4,57,2.09,1655355775,Hôtel 2000
...,...,...,...,...,...,...,...,...,...,...
536,536,green river,41.5286,-109.4662,288.14,0,35,0.45,1655356054,Hampton Inn & Suites Green River
565,565,azad shahr,34.7909,48.5707,294.25,0,22,2.15,1655356068,Hegmataneh Hotel
566,566,west plains,36.7281,-91.8524,299.61,0,82,3.09,1655356069,Holiday Inn Express & Suites West Plains South...
571,571,magole,-6.3667,37.3667,293.32,6,82,0.88,1655356072,Neptune Lodge
583,583,gomel,52.4345,30.9754,285.14,0,82,4.00,1655356080,Zamkovyj

In [ ]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Long"]]

In [37]:
# Add marker layer ontop of heat map
fig = gmaps.figure()
# Create heat layer
heat_layer = gmaps.heatmap_layer(locations, weights= humid, 
                                 dissipating=False, max_intensity=max(weather_df["Humidity"]),
                                 point_radius = 2)
                                 # Add layer
fig.add_layer(heat_layer)
markers = gmaps.marker_layer(locations)
fig.add_layer(markers)
fig

# Display figure

Figure(layout=FigureLayout(height='420px'))