In [17]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
# from api_keys import g_key

In [18]:
#  Store Part I results into DataFrame
# Load the csv exported in Part I to a DataFrame

weather_df = pd.read_csv("../WeatherPy/weatherdata")
weather_df.head()

,Unnamed: 0,City,Latitude,Temp,Cloudiness,Humidity,Wind Speed,Date
0,0,salalah,17.0151,304.18,73,64,5.18,1655276226
1,1,makakilo city,21.3469,298.33,20,64,5.14,1655275973
2,2,thompson,55.7435,288.24,100,100,3.09,1655276227
3,3,tibiri,13.5627,298.34,0,78,0.00,1655276227
4,4,ribeira grande,38.5167,291.37,75,100,4.63,1655275984

In [19]:
# Create new DataFrame fitting weather criteria
# Narrow down the cities to fit weather conditions.   Drop any rows will null values.

weather_df.dropna()

,Unnamed: 0,City,Latitude,Temp,Cloudiness,Humidity,Wind Speed,Date
0,0,salalah,17.0151,304.18,73,64,5.18,1655276226
1,1,makakilo city,21.3469,298.33,20,64,5.14,1655275973
2,2,thompson,55.7435,288.24,100,100,3.09,1655276227
3,3,tibiri,13.5627,298.34,0,78,0.00,1655276227
4,4,ribeira grande,38.5167,291.37,75,100,4.63,1655275984
...,...,...,...,...,...,...,...,...
553,553,talara,-4.5772,290.65,27,78,7.21,1655276554
554,554,mutum,-19.8000,286.89,99,85,1.03,1655276555
555,555,huaihua,27.5494,305.95,100,41,0.66,1655276556
556,556,bannu,32.9854,316.68,0,11,3.67,1655276557
557,557,grand-santi,4.2500,294.19,40,99,0.97,1655276558

In [53]:
# Narrow down the DataFrame to find your ideal weather condition. 
# was in klevin by mistake
# ideal_temp  = weather_df.loc[(weather_df["Temp"] < 300) & (weather_df["Temp"] > 285)]
# ideal_wind  =weather_df[weather_df["Wind Speed"] < 10]
# ideal_cloud = weather_df[weather_df["Cloudiness"] < 10]

ideal = weather_df.loc[(weather_df["Temp"] < 300) & (weather_df["Temp"] > 285) & (weather_df["Wind Speed"] < 10) & (weather_df["Cloudiness"] < 7)]
ideal

# Zero cloudiness.
# Drop any rows that don't contain all three conditions. You want to be sure the weather is ideal.

,Unnamed: 0,City,Latitude,Temp,Cloudiness,Humidity,Wind Speed,Date
3,3,tibiri,13.5627,298.34,0,78,0.00,1655276227
15,15,albany,42.6001,289.67,6,84,1.64,1655276233
20,20,port lincoln,-34.7333,288.85,5,72,7.51,1655276235
23,23,karuzi,-3.1250,294.45,2,63,0.94,1655276237
24,24,humaita,-7.5061,293.94,5,97,0.21,1655275961
...,...,...,...,...,...,...,...,...
524,524,bemidji,47.4736,291.43,0,100,0.00,1655276531
527,527,placido de castro,-10.3353,291.78,3,77,0.46,1655276534
538,538,canon city,38.4410,293.71,0,30,4.12,1655276543
540,540,broome,42.2506,289.36,0,84,0.45,1655276544
546,546,sambava,-14.2667,298.37,0,68,4.40,1655276548

In [ ]:
# Note: Feel free to adjust to your specifications but be sure to limit the number of rows returned 
# by your API requests to a reasonable number.
# Using Google Places API to find the first hotel for each city located within 5000 meters of your coordinates.

# Plot the hotels on top of the humidity heatmap with each pin containing the Hotel Name, City, and Country.

In [ ]:
# Store latitude and longitude in locations
# locations = ideal[["Lat", "Lng"]] ----need to add longitude

# Fill NaN values and convert to float
rating = ideal["Airport Rating"].astype(float)

In [ ]:
# Plot Heatmap
fig = gmaps.figure()

# Create heat layer
heat_layer = gmaps.heatmap_layer(locations, weights=rating, 
                                 dissipating=False, max_intensity=10,
                                 point_radius=1)


# Add layer
fig.add_layer(heat_layer)

# Display figure
fig