In [11]:
# Your first requirement is to create a series of scatter plots to showcase the following relationships:
# Temperature (F) vs. Latitude
# Humidity (%) vs. Latitude
# Cloudiness (%) vs. Latitude
# Wind Speed (mph) vs. Latitude

# After each plot add a sentence or too explaining\data\2.5\forecast what the code is and analysing.

Example on how to make an API call using your API key
API call

http://api.openweathermap.org/data/2.5/forecast?id=524901&appid={API key}

In [12]:
# Dependencies
import collections
# collections_abc = getattr(collections, 'Iterable', collections)
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import requests
import gmaps
from config import API
import json

# # Configure gmaps
# gmaps.configure(api_key=gkey)

In [ ]:
# Generate Cities List
# then Perform a weather check on each city using a series of successive API calls.
# Include a print log of each city as it's being processed (with the city number and city name).

# Create aiport dataframe
# cities_df = pd.read_csv('worldcities.csv')
# cities_df.dropna(inplace = True) 
# cities_df.head()

In [50]:
# Delete a columns from the DataFrame to make a simple one
# simple_df = cities_df.drop(labels = ["admin_name","capital", "population","city"], axis =1 )


# cities_df[["lat","lng"]].sample(n=1)


# sample = cities_df[["lat","lng"]].sample(n=1)
# sample_lng, sample_lat = sample["lng"], sample["lat"]
# sample_lng, 
# sample_lat, 
# lat, lng  = sample_lat.values[0], sample_lng.values[0]

In [65]:
from citipy import citipy

#randome numbers between -90 to 90 for latitude and -180 to 180 for longitude
city = citipy.nearest_city(-19, 169.21)       
city.city_name, city.country_code     # Tainan, my home town

('isangel', 'vu')

In [ ]:
#random sample
# rand = cities_df.sample(n=1)
# #coordinates only
# coord = simple_df[["lat","lng"]]

# #random sample of coordinates
# rand_lat_lng = coord.sample(n=1)

# lat_rand = rand_lat_lng["lat"]
# lng_rand = rand_lat_lng["lng"]

# lat_rand, lng_rand

# example 
# lat_rand = 64.175 , lng_rand = -51.7333 

# print(rand.columns.tolist())

In [51]:
# Note: target url works!
target_url = f"https://api.openweathermap.org/data/2.5/weather?lat={lat}&lon={lng}&appid={API}"
# Run a request to endpoint and convert result to json
wea_data = requests.get(target_url).json()

# Print the json
wea_data

{'coord': {'lon': 11.9786, 'lat': 11.7803},
 'weather': [{'id': 803,
   'main': 'Clouds',
   'description': 'broken clouds',
   'icon': '04n'}],
 'base': 'stations',
 'main': {'temp': 300.22,
  'feels_like': 301.25,
  'temp_min': 300.22,
  'temp_max': 300.22,
  'pressure': 1009,
  'humidity': 59,
  'sea_level': 1009,
  'grnd_level': 967},
 'visibility': 10000,
 'wind': {'speed': 6.55, 'deg': 224, 'gust': 11.51},
 'clouds': {'all': 77},
 'dt': 1655091925,
 'sys': {'country': 'NG', 'sunrise': 1655095677, 'sunset': 1655141785},
 'timezone': 3600,
 'id': 2345521,
 'name': 'Damaturu',
 'cod': 200}

In [37]:
# Lets try requestion by name

# target2_url = f"http://api.openweathermap.org/geo/1.0/direct?q={city},{state},{country}&limit={limit}&appid={API}"

# wea2_data = requests.get(target2_url).json()

# # Print the json
# wea2_data

{'cod': '400', 'message': 'bad params'}

In [16]:
#9016
cities_df.head()

,city,city_ascii,lat,lng,country,iso2,iso3,admin_name,capital,population,id
0,Tokyo,Tokyo,35.6839,139.7744,Japan,JP,JPN,Tōkyō,primary,39105000.0,1392685764
1,Jakarta,Jakarta,-6.2146,106.8451,Indonesia,ID,IDN,Jakarta,primary,35362000.0,1360771077
2,Delhi,Delhi,28.6667,77.2167,India,IN,IND,Delhi,admin,31870000.0,1356872604
3,Manila,Manila,14.6000,120.9833,Philippines,PH,PHL,Manila,primary,23971000.0,1608618140
4,São Paulo,Sao Paulo,-23.5504,-46.6339,Brazil,BR,BRA,São Paulo,admin,22495000.0,1076532519

NameError: name 'lat' is not defined

In [ ]:
wea_data.keys()

In [ ]:
len(wea_data["list"])

In [ ]:
temp = wea_data["list"][0]["main"]['temp']
temp

In [ ]:
wea_data['city']

In [ ]:
# Temperature (F) vs. Latitude
#make an API call and see what comes out---do I need to request latitude??

print(json.dumps(wea_data, indent=4, sort_keys=True))

In [ ]:
# Extract latitude 
lat = wea_data["city"]['coord']['lat']
temp = wea_data["list"][0]["main"]['temp']
temp, lat